:root {
  --color-primary-Green: hsl(75, 94%, 57%);
  --color-neutral-White: hsl(0, 0%, 100%);
  --color-neutral-Grey: hsl(0, 0%, 20%);
  --color-neutral-Dark-Grey: hsl(0, 0%, 12%);
  --color-neutral-Off-Black: hsl(0, 0%, 8%);
  --font-size: 14px;
  --font-family: "Inter", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-neutral-Off-Black);
  font-family: var(--font-family);
  width: 100vw;
  min-height: 100vh;
}

.card {
  z-index: 100;
  zoom: 80%;
  background-color: var(--color-neutral-Dark-Grey);
  width: 100%;
  max-width: 500px;
  height: fit-content;
  margin: 120px auto;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  font-size: 22px;
  transition: all 0.3s ease-in-out;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  box-shadow: 5px 4px 30px 0;
}

#avatar {
  border-radius: 50%;
  max-width: 35%;
  height: auto;
  margin-bottom: 40px;
}

h1 {
  color: var(--color-neutral-White);
  font-weight: var(--font-weight-semiBold);
  margin-bottom: 10px;
  z-index: 1;
}

h3 {
  color: var(--color-primary-Green);
  font-weight: var(--font-weight-bold);
  margin-bottom: 25px;
}

p {
  color: var(--color-neutral-White);
  font-weight: var(--font-weight-regular);
  margin-bottom: 20px;
}
p::before {
  content: '"Night"';
}

.card ul {
  list-style-type: none;
}

.card li {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-neutral-Grey);
  border-radius: 15px;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: var(--color-neutral-Off-Black);
  transition: all 0.3s ease;
}

.card a {
  text-decoration: none;
  color: var(--color-neutral-White);
  font-weight: var(--font-weight-bold);
}

.card li:hover {
  border-color: var(--color-primary-Green);
  background-color: var(--color-primary-Green);
  color: var(--color-neutral-Dark-Grey);
  transform: perspective(3500px) rotateX(-10deg) scaleX(1.1) scaleY(1.1);
  box-shadow: 0px 0px 30px 0 var(--color-primary-Green);
  margin-right: 8px;
  transition: all 0.3s ease;
}

i {
  color: transparent;
  transition: all 0.3s ease;
  z-index: 2;
}

li:hover i {
  color: black;
  margin-left: 8px;
  transition: all 0.3s ease;
}

.card:hover {
  border-color: var(--color-primary-Green);
  transition: all 0.5s ease-in-out;
  transform: perspective(3500px) rotateX(-10deg) scaleX(1.1) scaleY(1.1);
  box-shadow: 0px 0px 40px 0;
  border-width: 0px;
  border-color: var(--color-primary-Green);
}
.bg {
  z-index: -2;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 133%;
}
#check {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 120vh;
  z-index: -1;
  left: 0;
  background-color: rgba(15, 15, 234, 0);
}
#check:hover {
  cursor: pointer;
}

label .far {
  z-index: -2;
  margin: 20px 50%;
  top: 0;
  text-align: center;
  position: absolute;
  color: var(--color-primary-Green);
  cursor: pointer;
  font-size: 30px;
}
label .fa-sun {
  color: transparent;
}

#check:checked ~ label .fa-sun {
  color: black;
}

#check:checked ~ label .fa-moon {
  display: none;
}

#check:checked ~ .bg {
  background-color: bisque;
}

#check:checked ~ .card {
  background-color: antiquewhite;
}
input:checked ~ .card h1 {
  color: var(--color-neutral-Off-Black);
}

input:checked ~ .card p {
  color: var(--color-neutral-Off-Black);
}

input:checked ~ .card p::before {
  content: '"Day"';
}

input:checked ~ .card h3 {
  color: rgb(25, 0, 25);
}

input:checked ~ .card ul li {
  color: var(--color-neutral-Off-Black);
  background-color: antiquewhite;
}
input:checked ~ .card ul li:hover {
  border-color: black;
  box-shadow: 0px 0px 30px 0;
}

@media (min-width: 375px) {
  .card {
    width: 84%;
    height: auto;
  }
  .card label .far {
    margin: 10px 240px;
    position: absolute;
  }
  .card h1 {
    font-size: 30px;
  }
  .card p {
    font-size: 17px;
  }
}
